* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #edeef1;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.container {
  width: 90vw;
  max-width: 62.5em;
  position: relative;
  margin: 0 auto;
}

/* add folder container */
.add-folder-container {
  padding: 10px 40px;
  display: flex;
  justify-content: flex-end;
}

#add-folder-btn {
  padding: 5px 15px;
  border-radius: 3px;
  background-color: #363d55;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

/* add flashcard container */
.add-flashcard-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 40px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  appearance: none;
  border: none;
  outline: none;
  border: 1px solid #363d55;
  border-radius: 3px;
  background-color: #d3d3d3;
  padding: 5px;
  color: #333;
  font-size: 17px;
}

#add-flashcard-btn {
  font-size: 17px;
  background-color: #587ef4;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  font-weight: 600;
}

/* card list container */
#card-container {
  /* border: 1px solid #000; */
  margin-top: 2rem;
}

#card-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  gap: 24px;
}

.card {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 12px 19px rgba(28, 0, 80, 0.08);
}


.question-div {
  margin-bottom: 10px;
  font-weight: 500;
  color: #362336;
}

.answer-div {
  margin-top: 1rem;
  font-weight: 400;
  color: #414a67;
}

.show-hide-btn {
  display: block;
  background-color: #587ef4;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 0;
  border-radius: 3px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit, .delete {
  background-color: transparent;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.edit {
  color: #587ef4;
}

.delete {
  color: #ff5353;
}

/* Question Form */
.questions-container {
  width: 90vw;
  max-width: 34em;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  /* center box */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0 16px 2em rgba(28, 0, 80, 0.1);
}

.questions-container h2 {
  font-size: 30px;
  color: #363d55;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.error-container {
  /* align-self: center; */
  margin-bottom: 1rem;
}

#error {
  background-color: #ff5353;
  padding: 3px 10px;
  border-radius: 2px;
  color: #ffff;
  font-weight: 400;
}

#close-btn {
  margin-bottom: 1rem;
  position: absolute;
  top: -10px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #587ef4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

label {
  color: #363d55;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

textarea {
  width: 100%;
  padding: 11px 8px;
  border: 1px solid #d0d0d0;
  background-color: #e3e3e3;
  outline: none;
  color: #414a67;
  border-radius: 3px;
  resize: none;
}

textarea:not(:last-child) {
  margin-bottom: 1.2rem;
}

textarea:focus {
  border-color: #363d55;
}

#save-btn {
  font-size: 1rem;
  background-color: #587ef4;
  color: #fff;
  padding: 0.6rem 0;
  border-radius: 3px;
  font-weight: 600;
}


.hide {
  display: none;
}